@{
    ViewData["Title"] = "Sites e Sistemas";
}
<h2>@ViewData["Title"]</h2>
<p>Profissão: @ViewData["Profissao"]</p>
<p>Nome: @ViewData["Nome"]</p>
<p>Idade: @ViewData["Idade"]</p>


<address>
    Rua São Fidélis, 433<br />
    Belo Horizonte, MG 31070-020<br />
    <abbr title="Phone">P:</abbr>
    98733-9926
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
